<app-nav></app-nav>
<div class="container  leading-4 mx-auto lg:mt-50 md:mt-28 sm:mt-16 mt-6 md:w-[850px] p-3 sm:p-5 md:p-10">
    <div class="mb-2">
        <button [routerLink]="['/']" routerLinkActive="router-link-active" class="text-primary font-medium  text-md ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
            Home Page</button>
    </div>
    <div class="col-span-12 lg:col-span-8 md:col-span-8 mt-2 sm:col-span-12">
        <div
            class="bg-zinc-100 p-6 sticky shadow-xl font-sansrounded-lg rounded-lg tracking-tighter border-2 border-dashed border-primary pl-4 pt-4">
            <div class="text-3xl font-medium border-bottom ">
                <p class="text-primary">About</p>
            </div>
            <div class="mt-2 leading-8">
                <p>
                    The name "Sample Videos" itself is a self-explanatory on its own, but don't get it fouled by
                    just the name. There is lot going on there. Welcome to Sample Videos!

                    Now you might wondering who is behind creating this helpful initiative and what was the
                    motive when he started? For that let me introduce, "Miral Viroja". He is the founder of this
                    website, a perfect destination to find multiple and useful alternatives for your
                    applications' video needs and compatibility.

                    Once he was looking for a video to download and to use in web application, but after trying
                    (wasting) some time on search engines, he found no useful video. Actually he found some
                    links but all of them were getting him to another websites, to increase those website's page
                    visits :(

                    After near about 15 minutes he found one.

                    He wondered that in this www world it was very difficult for him to found a sample video
                    even after he was two years of experienced in Information Technology firm.

                    So he decided to build a common and easy accessible platform for everyone out there to get
                    different type and size of videos they require so that they do not have to struggle for long
                    searching on Internet.
                </p>
            </div>
            <div class="mt-6">
                <strong class="mt-4">Like Us on facebook if you like this service. Thanks!</strong>
            </div>
        </div>
    </div>
</div>