<nav class="bg-white border-gray-200 shadow-lg sticky top-0 z-50">
    <div
        class="max-w-screen-xl max-w-full sm:justify-between justify-between   md:ml-8 flex flex-wrap items-center p-2">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/logo/logo.png" class="h-10 " />
            <span class="font-bold text-xl text-primary">Sample Data</span>
        </a>
        <div class="flex lg:mr-20 items-center space-x-4">
            <a href="#" class="text-primary  md:text-base font-semibold hover:underline">ABOUT</a>
            <a href="#" class="text-primary  md:text-base font-semibold hover:underline ">CONTACT US</a>
        </div>
    </div>
</nav>