<nav class="bg-white border-gray-200 shadow-lg sticky top-0 z-50">
    <div class="justify-between sm:ml-8 flex flex-wrap items-center p-2">
        <div class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/logo/logo.webp" loading="lazy" class="h-8 w-8  md:h-10 md:w-10" />
            <span class="font-bold text-sm sm:text-xl text-primary">Sample Data</span>
        </div>

        <div class="hidden sm:flex sm:mr-20 items-center text-center sm:text-sm text-sm space-x-4 mt-1">
            <a (click)="homePage()" [ngClass]="{'border-bottom': isHomePageActive}"
                class="text-primary cursor-pointer sm:text-base text-xs font-semibold">HOME</a>
            <a (click)="aboutPage()" [ngClass]="{'border-bottom': isAboutPageActive}"
                class="text-primary cursor-pointer sm:text-base text-xs font-semibold">ABOUT</a>
            <a (click)="contectUsPage()" [ngClass]="{'border-bottom': isContectPageActive}"
                class="text-primary cursor-pointer sm:text-base text-xs font-semibold">CONTACT US</a>
        </div>

        <button class="sm:hidden inline-block ml-auto outline-none focus:outline-none" (click)="toggleSideMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                <path fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1zm0 6a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1zm0 6a1 1 0 011-1h16a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <div class="sm:hidden lg:mr-20 grid  sm:grid-cols-3 items-center ml-2 sm:text-sm text-sm space-x-4 mt-1"
        [ngClass]="{'hidden': !sideMenuOpen}">
        <a (click)="homePage()" [ngClass]="{'border-bottom': isHomePageActive}"
            class="text-primary cursor-pointer sm:text-base text-lg ml-4 mb-2 font-semibold">&#10132; HOME</a>
        <a (click)="aboutPage()" [ngClass]="{'border-bottom': isAboutPageActive}"
            class="text-primary cursor-pointer sm:text-base text-lg mb-2 font-semibold">&#10132; ABOUT</a>
        <a (click)="contectUsPage()" [ngClass]="{'border-bottom': isContectPageActive}"
            class="text-primary cursor-pointer sm:text-base text-lg mb-2  font-semibold">&#10132; CONTACT US</a>
    </div>
</nav>