.border-bottom {
    width: fit-content;
    border-radius: 12px;
    border-bottom: 3px solid #ebba16;
}

@keyframes skeletonAnimation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

.skeleton {
    background: linear-gradient(to left, #eeeeee 0%, #e0dede 50%, #f0f0f0 100%);
    background-size: 200% 100%;
    animation: skeletonAnimation 1s infinite linear;
    cursor: wait;
}

.height {
    max-height: -webkit-fill-available;
}